<% layout("/layouts/boilerPlate") %>

    <body>
        <div class="container col-6">
            <h1>Fill your details</h1>
            <br>
            <form action="/listings/<%=id%>/checkout/booked" method="post" id="confirmBooking""
            class=" mt-4">
                <div class="m-auto col-10">
                    <div class="form-group" style="display: flex;">
                        <div style="width: 50%;">
                            <label for="checkInDate" class="form-label">Check-In Date:</label>
                            <input type="date" name="checkInDate" value="<%=checkInDate%>" id="checkInDate"
                                class="form-control" required readonly>
                        </div>
                        <div style="width:50%;margin-left:5%;">
                            <label for="checkOutDate" class="form-label">Check-Out Date:</label>
                            <input type="date" name="checkOutDate" value="<%=checkOutDate%>" id="checkOutDate"
                                class="form-control" required readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="guests" class="form-label">Number of Guests:</label>
                        <input type="number" name="guests" value="<%=noOfGuests%>" id="guests" min="1"
                            class="form-control" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="username" class="form-label">Name</label>
                        <input type="text" name="name" value="<%=currUser.username%>" id="username"
                            class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="phoneno" class="form-label">Mobile No</label>
                        <input type="text" name="phoneno" id="phoneno" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="totalPrice" value="<%=totalPrice%>" id="totalPrice"
                            class="form-control" readonly required>
                    </div>
                </div>
                <div class="form-group col-2 m-auto mt-4 mb-5">
                    <button type="submit" class="btn btn-dark book-btn ms-auto ">Reserve</button>
                </div>
            </form>
        </div>
    </body>